<style>
    .fixed-bottom {
        height: 60px;
        background-color: #1a1a1a;
        color: #e5e5e5;
    }

    .fixed-bottom a {
        font-size: 20px;
        --bs-link-color: #e5e5e5;
        --bs-link-hover-color: #b6b6b6;
    }
</style>
<div class="fixed-bottom small navbar navbar-expand d-flex align-items-center">
    <div class="container">
        <div>
            <img src="/images/logo_uhm_smol.png" class="rounded-circle" width="40px" alt="Profile Picture">
            <span class="ms-2">University of Hawaiʻi at Mānoa</span>
        </div>
        <div id="icons">
            <a href="#"><i class="bi bi-info-circle-fill mx-1"></i></a>
            <a href="#"><i class="bi bi-envelope-fill mx-1"></i></a>
            <a href="https://giving.uhfoundation.org/funds/13025304" target="_blank"><i class="bi bi-coin mx-1"></i></a>
            <a href="https://github.com/ME-481-AEVS" target="_blank"><i class="bi bi-github ms-1"></i></a>
        </div>
    </div>
</div>