<!doctype html>
<html lang="en">
<head>
    <title>AEVS UHM<%- title %></title>
    <meta name="description" content="The University of Hawaii's Autonomous Electric Vehicle System">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#335c26" />
    <meta name="keywords" content="university hawaii autonomous electric vehicle system delivery">
    <link rel="stylesheet" href="/scripts/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/scripts/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <script src="/scripts/jquery/jquery.js"></script>
    <script src="/scripts/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
