<!doctype html>
<html lang="en">
<head>
    <title>AEVS Control Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/scripts/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/scripts/bootstrap-icons/bootstrap-icons.css" />
    <script src="/scripts/bootstrap/js/bootstrap.bundle.js"></script>
</head>
</html>
