<%- include('components/head') %>

<body class="green-background">
<div class="container mt-5 text-center">
    <h1>401</h1>
    <h4>Unauthorized</h4>
    <a href="https://uhm-aevs.online">Return to user website</a> <br>
    <img src="/images/404_box.png" class="mt-5" width="300px" alt="AEV searching">
</div>
</body>
