<!doctype html>
<html lang="en">
<head>
<%- include('components/head') %>
</head>
<body class="green-background">
    <div class="container text-center">
        <img src="/images/404_box.png" class="mt-5" width="300px" alt="AEV searching">
        <h1 class="mt-4">401</h1>
        <h4>Unauthorized</h4>
        <p>This action has been logged</p>
        <a href="https://uhm-aevs.online">Return to user website</a> <br>
    </div>
</body>
</html>
