<%- include('components/head') %>
<%- include('components/navbar') %>

<style>
    .btn {
      border-radius: 0;
    }
    .row {
      --bs-gutter-x: 0;
    }
    .video-embed {
      position: relative;
    }
    .text-overlay-main {
      position: absolute;
      width: 150px;
      top: 10px;
      right: 45%;
      background-color: darkslategrey;
      color: white;
      font-size: 25px;
      font-weight: bold;
      padding: 5px;
      opacity: 50%;
    }
    .text-overlay {
      position: absolute;
      top: 10px;
      right: 45%;
      background-color: darkslategrey;
      color: white;
      font-weight: bold;
      padding: 5px;
      font-size: 14px;
      opacity: 50%;
    }
</style>
<body>
<div class="row">
    <div class="col-lg-9 text-center">
        <div class="row video-embed" style="background-color: #dfdfdf; height: 450px">
            <span class="text-overlay-main">FRONT</span>
            <iframe width="100%" height="450" src="https://www.youtube.com/embed/KJbHcb5ZI_4"></iframe>
        </div>
        <div class="row">
            <div class="col video-embed" style="background-color: #b9b9b9; height: 150px">
                <span class="text-overlay">LEFT</span>
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/KJbHcb5ZI_4"></iframe>
            </div>
            <div class="col video-embed" style="background-color: #9b9b9b; height: 150px">
                <span class="text-overlay">REAR</span>
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/KJbHcb5ZI_4"></iframe>
            </div>
            <div class="col video-embed" style="background-color: #858585; height: 150px">
                <span class="text-overlay">RIGHT</span>

                <iframe width="100%" height="200" src="https://www.youtube.com/embed/KJbHcb5ZI_4"></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center d-flex flex-column justify-content-between">
        <div class="row my-2 pt-1">
            <div class="col">
                Status:
            </div>
            <div class="col">
                <b>ENROUTE</b>
            </div>
        </div>
        <div class="row py-2" style="background-color: #eeeeee">
            <b>Delivery</b>
            <div class="row">
                <div class="col">
                    <div class="row small">
                        <span>From</span>
                    </div>
                    <div class="row">
                        <b>Homles Hall</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>To</span>
                    </div>
                    <div class="row">
                        <b>Hamilton</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>User</span>
                    </div>
                    <div class="row">
                        <b>J. Schmoe</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Progress</span>
                    </div>
                    <div class="row">
                        <b>53%</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2" style="background-color: #e3e3e3">
            <b>Telemetry</b>
            <div class="row">
                <div class="col">
                    <div class="row small">
                        <span>Battery</span>
                    </div>
                    <div class="row">
                        <b>59%</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Motor Power</span>
                    </div>
                    <div class="row">
                        <b>76%</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>Speed</span>
                    </div>
                    <div class="row">
                        <b>55 mph</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Accelerometer</span>
                    </div>
                    <div class="row">
                        <b>1.0, 4.2, 6.9</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>Bolt Lock</span>
                    </div>
                    <div class="row">
                        <b>Engaged</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Brakes</span>
                    </div>
                    <div class="row">
                        <b>Powered</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>CPU</span>
                    </div>
                    <div class="row">
                        <b>28째C/82째F</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Internal</span>
                    </div>
                    <div class="row">
                        <b>26째C/79째F</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>Wi-Fi</span>
                    </div>
                    <div class="row">
                        <b>Strong</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>GPS</span>
                    </div>
                    <div class="row">
                        <b>Medium</b>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <a href="/manual_control" class="btn btn-warning justify-content-center">
                    <h4 class="mt-2">MANUAL CONTROL</h4>
                </a>
            </div>
            <div class="row">
                <a href="#" class="btn btn-danger justify-content-center">
                    <h4 class="mt-2">EMERGENCY STOP</h4>
                </a>
            </div>
        </div>
    </div>
</div>
</body>