<%- include('components/head') %>
<%- include('components/navbar') %>
<style>
    .btn {
      border-radius: 0;
    }
    .row {
      --bs-gutter-x: 0;
    }
</style>
<body>
<div class="row">
    <div class="col-lg-9 text-center">
        <div class="row align-items-center" style="background-color: #dfdfdf; height: 450px">
            <h1>FRONT</h1>
            <p>click a vid below to swap with main vid</p>
        </div>
        <div class="row">
            <div class="col" style="background-color: #b9b9b9; height: 150px">
                LEFT
            </div>
            <div class="col" style="background-color: #9b9b9b; height: 150px">
                REAR
            </div>
            <div class="col" style="background-color: #858585; height: 150px">
                RIGHT
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center d-flex flex-column justify-content-between">
        <div class="row my-2 pt-1">
            <div class="col">
                Status:
            </div>
            <div class="col">
                <b>ENROUTE</b>
            </div>
        </div>
        <div class="row py-2" style="background-color: #eeeeee">
            <b>Delivery</b>
            <div class="row">
                <div class="col">
                    <div class="row small">
                        <span>From</span>
                    </div>
                    <div class="row">
                        <b>Homles Hall</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>To</span>
                    </div>
                    <div class="row">
                        <b>Hamilton</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>User</span>
                    </div>
                    <div class="row">
                        <b>J. Schmoe</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Progress</span>
                    </div>
                    <div class="row">
                        <b>53%</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2" style="background-color: #e3e3e3">
            <b>Telemetry</b>
            <div class="row">
                <div class="col">
                    <div class="row small">
                        <span>Battery</span>
                    </div>
                    <div class="row">
                        <b>59%</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Motor Power</span>
                    </div>
                    <div class="row">
                        <b>76%</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>Speed</span>
                    </div>
                    <div class="row">
                        <b>55 mph</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Accelerometer</span>
                    </div>
                    <div class="row">
                        <b>1.0, 4.2, 6.9</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>Bolt Lock</span>
                    </div>
                    <div class="row">
                        <b>Engaged</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Brakes</span>
                    </div>
                    <div class="row">
                        <b>Powered</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>CPU</span>
                    </div>
                    <div class="row">
                        <b>28째C/82째F</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>Internal</span>
                    </div>
                    <div class="row">
                        <b>26째C/79째F</b>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="row small">
                        <span>Wi-Fi</span>
                    </div>
                    <div class="row">
                        <b>Strong</b>
                    </div>
                </div>
                <div class="col">
                    <div class="row small">
                        <span>GPS</span>
                    </div>
                    <div class="row">
                        <b>Medium</b>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <a href="/manual_control" class="btn btn-warning justify-content-center">
                    <h4 class="mt-2">MANUAL CONTROL</h4>
                </a>
            </div>
            <div class="row">
                <a href="#" class="btn btn-danger justify-content-center">
                    <h4 class="mt-2">EMERGENCY STOP</h4>
                </a>
            </div>
        </div>
    </div>
</div>
</body>