<%- include('components/head') %>
<%- include('components/navbar') %>
<style>
    .btn {
      border-radius: 0;
    }
    .row {
      --bs-gutter-x: 0;
    }
</style>
<body>
<div class="row">
    <div class="col-lg-9 text-center">
        <div class="row align-items-center" style="background-color: #dfdfdf; height: 450px">
            <h1>FRONT</h1>
            <p>click a vid below to swap with main vid</p>
        </div>
        <div class="row">
            <div class="col" style="background-color: #b9b9b9; height: 150px">
                LEFT
            </div>
            <div class="col" style="background-color: #9b9b9b; height: 150px">
                REAR
            </div>
            <div class="col" style="background-color: #858585; height: 150px">
                RIGHT
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center d-flex flex-column justify-content-between">
        <div class="row mt-2 p-3">
            <div class="col text-start">
                Current Status:
            </div>
            <div class="col text-end">
                Idle
            </div>
        </div>
        <div class="row p-3">
            <div class="col text-start">
                Battery:
            </div>
            <div class="col text-end">
                90%
            </div>
        </div>
        <div class="row p-3">
            <div class="col text-start">
                Speed:
            </div>
            <div class="col text-end">
                40 mph
            </div>
        </div>
        <div class="row p-3">
            <div class="col text-start">
                Accelerometer:
            </div>
            <div class="col text-end">
                1.0, 4.2, 6.9
            </div>
        </div>
        <div class="row p-3">
            <div class="col text-start">
                Temperature:
            </div>
            <div class="col text-end">
                30° C
            </div>
        </div>
        <div class="row p-3">
            <div class="col text-start">
                GPS:
            </div>
            <div class="col text-end">
                21.3000639,-157.8140074
            </div>
        </div>
        <div>
            <div class="row">
                <a href="#" class="btn btn-dark d-flex justify-content-center p-3">
                    View Upcoming Deliveries
                </a>
            </div>
            <div class="row">
                <a href="/manual_control" class="btn btn-warning justify-content-center">
                    <h4 class="mt-2">MANUAL CONTROL</h4>
                </a>
            </div>
            <div class="row">
                <a href="#" class="btn btn-danger justify-content-center">
                    <h4 class="mt-2">EMERGENCY STOP</h4>
                </a>
            </div>
        </div>
    </div>
</div>
</body>