<%- include('components/head') %>
<%- include('components/navbar') %>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <style>
      #map {
        height: 100%;
      }
      #overlay {
        position: absolute;
        z-index: 500;
        width: 360px;
        height: 320px;
        top: 10%;
        right: 5%;
        border-radius: 10px;
        background-color: #ffffff;
        color: #252525;
        font-size: 20px;
        padding: 5px;
        opacity: 90%;
      }
      .status-text {
        font-size: 10px;
        color: grey;
        padding: 0;
        margin-top: -5px;
      }
      .no-gutter {
        --bs-gutter-x: 0;
      }
    </style>
</head>

<body>
    <div style="height: calc(100vh - 56px); position: relative;">
        <div id="overlay" class="p-4">
            <div class="row align-items-center no-gutter" type="button" onclick="popup(1)">
                <div class="col-7">
                    <img src="location_icon.ico" width="30px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 1&nbsp;&nbsp;-&nbsp;&nbsp;Idle</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-3"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-full" style="color: green;"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">92%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2 align-items-center no-gutter">
                <div class="col-7">
                    <img src="location_icon.ico" width="30px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 2&nbsp;&nbsp;-&nbsp;&nbsp;Off</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi-off"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-0"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-charging" style="color: green;"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2 align-items-center no-gutter">
                <div class="col-7">
                    <img src="location_icon.ico" width="30px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 3&nbsp;&nbsp;-&nbsp;&nbsp;Off</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi-off"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-0"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-charging" style="color: green;"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">63%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2 align-items-center no-gutter">
                <div class="col-7">
                    <img src="location_icon.ico" width="30px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 4&nbsp;&nbsp;-&nbsp;&nbsp;Off</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi-off"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-0"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-charging" style="color: green;"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
</body>

<script>
  const key = '<%= mapKey.mapApiKey %>';
  const locationIcon = L.Icon.extend({
    options: {
      iconSize:     [30, 30],
      popupAnchor:  [0, -14]
    }
  });

  const map = L.map('map').setView([21.299, -157.816], 17);
  L.tileLayer(`https://tile.thunderforest.com/mobile-atlas/{z}/{x}/{y}.png?apikey=${key}`, {
    maxZoom: 19,
    zoomDelta: 0.25,
    zoomSnap: 0.1,
    wheelPxPerZoomLevel: 100,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  const aevOneLogo = new locationIcon({iconUrl: 'location_icon.ico'});

  const outerUL = [21.32, -157.85];
  const outerUR = [21.32, -157.78];
  const outerLL = [21.27, -157.85];
  const outerLR = [21.27, -157.78];

  const innerUL = [21.301819, -157.820419];
  const innerUR = [21.301436, -157.814623];
  const innerLR = [21.296271, -157.815239];
  const innerLL = [21.296793, -157.821193];

  const bottomBorder = L.polygon(
      [outerLL, innerLL, [21.296665, -157.817077], innerLR, outerLR],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  const rightBorder = L.polygon(
      [outerLR, innerLR, [21.297156, -157.815048], [21.297978, -157.814993],
        [21.298873, -157.814532], innerUR, outerUR],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  const topBorder = L.polygon(
      [outerUR, innerUR, [21.301310, -157.818061], [21.300940, -157.819212],
        [21.300959, -157.819526], [21.301103, -157.819736], innerUL, outerUL],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  const leftBorder = L.polygon(
      [outerUL, innerUL, [21.301177, -157.820927], [21.300570, -157.821165], innerLL, outerLL],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  const aevOne = L.marker([21.299, -157.817], {icon: aevOneLogo}).addTo(map).bindPopup("AEV 1 - Idle");

  function popup(aev) {
    switch (aev) {
      case 1:
        aevOne.openPopup();
        break;
      default:
        break;
    }
  }
</script>