<%- include('components/head') %>
<%- include('components/navbar') %>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <style>
      #map {
        height: 100%;
      }
      #overlay {
        position: absolute;
        z-index: 500;
        width: 380px;
        height: 320px;
        top: 10%;
        right: 5%;
        border-radius: 10px;
        background-color: #ffffff;
        color: #252525;
        font-size: 20px;
        padding: 5px;
        opacity: 90%;
      }
      .status-text {
        font-size: 10px;
        color: grey;
        padding: 0;
        margin-top: -5px;
      }
      .no-gutter {
        --bs-gutter-x: 0;
      }
    </style>
</head>

<body>
    <div style="height: calc(100vh - 56px); position: relative;">
        <div id="overlay" class="p-4">
            <div class="row align-items-center no-gutter" type="button" onclick="popup(1)">
                <div class="col-7 mt-1">
                    <img src="/pins/pin_aev1.png" width="25px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 1&nbsp;&nbsp;-&nbsp;&nbsp;Moving</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-3"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-full"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">92%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2 align-items-center no-gutter" type="button" onclick="popup(2)">
                <div class="col-7 mt-1">
                    <img src="/pins/pin_aev2.png" width="25px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 2&nbsp;&nbsp;-&nbsp;&nbsp;Idle</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi-2"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-2"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-charging" style="color: green;"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">78%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2 align-items-center no-gutter" type="button" onclick="popup(3)">
                <div class="col-7 mt-1">
                    <img src="/pins/pin_aev3.png" width="25px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 3&nbsp;&nbsp;-&nbsp;&nbsp;Waiting</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi-2"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-4"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-half"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">63%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2 align-items-center no-gutter" style="color: grey;"  type="button" onclick="popup(4)">
                <div class="col-7 mt-1">
                    <img src="/pins/pin_off.png" width="25px"/>
                    <span class="ms-2" style="font-weight: 500;">AEV 4&nbsp;&nbsp;-&nbsp;&nbsp;Off</span>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <div class="row no-gutter">
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-wifi-off"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">WiFi</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-reception-0"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">GPS</span>
                            </div>
                        </div>
                        <div class="col text-center px-2">
                            <div class="row no-gutter">
                                <i class="bi bi-battery-charging" style="color: green;"></i>
                            </div>
                            <div class="row no-gutter">
                                <span class="status-text">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
</body>

<script>
  const key = '<%= mapKey.mapApiKey %>';
  const LocationIcon = L.Icon.extend({
    options: {
      iconSize:     [25, 25],
      popupAnchor:  [0, -14]
    }
  });

  const map = L.map('map').setView([21.299, -157.816], 17);
  L.tileLayer(`https://tile.thunderforest.com/mobile-atlas/{z}/{x}/{y}.png?apikey=${key}`, {
    maxZoom: 19,
    zoomDelta: 0.25,
    zoomSnap: 0.1,
    wheelPxPerZoomLevel: 100,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  const aevOnePin = new LocationIcon({iconUrl: '/pins/pin_aev1.png'});
  const aevTwoPin = new LocationIcon({iconUrl: '/pins/pin_aev2.png'});
  const aevThreePin = new LocationIcon({iconUrl: '/pins/pin_aev3.png'});
  const aevFourPin = new LocationIcon({iconUrl: '/pins/pin_off.png'});

  const outerUL = [21.32, -157.85];
  const outerUR = [21.32, -157.78];
  const outerLL = [21.27, -157.85];
  const outerLR = [21.27, -157.78];

  const innerUL = [21.301819, -157.820419];
  const innerUR = [21.301436, -157.814623];
  const innerLR = [21.296271, -157.815239];
  const innerLL = [21.296793, -157.821193];

  // bottom border
  L.polygon(
      [outerLL, innerLL, [21.296665, -157.817077], innerLR, outerLR],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  // right border
  L.polygon(
      [outerLR, innerLR, [21.297156, -157.815048], [21.297978, -157.814993],
        [21.298873, -157.814532], innerUR, outerUR],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  // top border
  L.polygon(
      [outerUR, innerUR, [21.301310, -157.818061], [21.300940, -157.819212],
        [21.300959, -157.819526], [21.301103, -157.819736], innerUL, outerUL],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  // left border
  L.polygon(
      [outerUL, innerUL, [21.301177, -157.820927], [21.300570, -157.821165], innerLL, outerLL],
      { stroke: false, color: 'black', fillOpacity: 0.3 }
  ).addTo(map);

  const aevOne = L.marker([21.3, -157.8175], {icon: aevOnePin}).addTo(map).bindPopup(
      "<b>AEV 1</b><br>Moving to drop-off @ Campus Center<br>ETA: 2:33 PM<br>" +
      "<a href=\"/aev\">View in Console</a>"
  );
  const aevTwo = L.marker([21.3, -157.816], {icon: aevTwoPin}).addTo(map).bindPopup(
      "<b>AEV 2</b><br>Idle, Charging<br>" +
      "<a href=\"/aev\">View in Console</a>"
  );
  const aevThree = L.marker([21.298, -157.8178], {icon: aevThreePin}).addTo(map).bindPopup(
      "<b>AEV 3</b><br>Waiting at Pickup<br>" +
      "<a href=\"/aev\">View in Console</a>"
  );
  const aevFour = L.marker([21.2975, -157.8165], {icon: aevFourPin}).addTo(map).bindPopup(
      "<b>AEV 4</b><br>Off, Charging<br>"
  );

  function popup(aev) {
    switch (aev) {
      case 1:
        aevOne.openPopup();
        break;
      case 2:
        aevTwo.openPopup();
        break;
      case 3:
        aevThree.openPopup();
        break;
      case 4:
        aevFour.openPopup();
        break;
      default:
        break;
    }
  }
</script>