.status-text {
  font-size: 10px;
  color: grey;
  padding: 0;
  margin-top: -5px;
}
.no-gutter {
  --bs-gutter-x: 0;
}
.disabled-grey {
  color: grey;
}
[data-href] {
  cursor: pointer;
}

.green-background {
  color: white;
  background-color: #335c26;
  --bs-link-color: #c6c7bf;
  --bs-link-hover-color: #e9eae1;
}